.github
.DS_Store
docs
kubernetes
node_modules
/.svelte-kit
/package
.env
.env.*
vite.config.js.timestamp-*
__pycache__
_old
uploads
.ipynb_checkpoints
**/*.db
_test
.svelte-kit
web/node_modules
web/.svelte-kit